.banner-area {
    position: relative;
    min-height: 300px;
    color: #fff;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-backface-visibility: hidden;
}
.banner-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.banner-title{
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
}

.section-title{
    font-size: 18px;
    line-height: 28px;
    margin:0;
    text-transform: uppercase;
    font-weight: 300;
}

.section-sub-title{
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    margin: 0 0 60px;
    color: #212121;
}
.service-box-bg{
    background: darkcyan;
    color: #fff;
    padding: 30px;
}

.service-icon i {
    font-size: 36px;
}

/*Testimonial*/

.quote-item .quote-text {
    margin: 0 0 10px;
    display: inline-block;
    padding: 0 40px 30px 60px;
    background-color: #fff;
    position: relative;
    font-size: 16px;
    font-style: italic;
}

img.testimonial-thumb {
    max-width: 90px;
    float: right;
    margin-right: 20px;
    border-radius: 50px;
}

.quote-item-info {
    padding-top: 15px;
    display: inline-block;
    padding-right: 10px;
}

.quote-author {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 2px;
    font-weight: 700;
    display: block;
    color: #000;
}

.quote-item-footer {
    margin-top: 0;
    margin-left: 60px;
}

.error-title {
    font-size: 8.7rem !important;
}
.error-subtitle {
    font-size: 4.5rem !important;
}

